@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
li, a, button {
			font-family: "Montserrat", sans-serif;
			font-weight: 500;
			font-size: 16px;
			color: #edf0f1;
			text-decoration: none;
		}
		.kylioli{
			display: flex;
			justify-content:space-between;
			align-items:center;
			padding: 11px 0.5%;
		}  
		body,h1,h2,h3,h4,h5,h6 {
			font-family: "Lato", sans-serif
			}
      .w3-bar,h1,button {
			font-family: "Montserrat", sans-serif
			}
      .fa-anchor,.fa-coffee {
			font-size:200px
			}
		*{
		box-sizing: border-box;
			margin: 0;
			padding: 0;
			background-color: #24252A;
		}
		.logo{
			cursor: pointer;
			}
		.nav__links {
			list-styles: none;
		}
		.nav links li {
			display: inline-block;
			padding: 0px 20px;
		}
		.nav__links a {
			transition: all 0.3s ease 0s;
		}
		
		.nav links li a:hover {
			color: #0088a9
		}
		
		button {
			padding: 9px 25 px;
			background color: rgba(1,136,169,1);
			border: non;
			border radius: 50px;
			cursor: pointer;
			transition: all 0.3s ease 0s;
		}
		button:hover {
			background-color: rgba(0,136,169,0)
		}